{% extends "base.html" %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
        <h1 class="display-5 fw-bold" align="center">Про проект</h1>
        <p align="center">Вообще изначально у меня был другой проект, только на Django. Потом я решила, что он странный. И по быстрому создала этот.</p>
    </div>
</div>

<div class="wrapper">
    <div class="h-100 p-5 text-white bg-dark rounded-3" align="center">
        <h2>Суть проекта</h2>
        <p>На данном сайте вы можете создавать разные новости. Да и впринципе, наверное всё, если я больше ничего не добавляла.</p>
    </div>


    <div class="h-100 p-5 bg-light border rounded-3" align="center">
          <h2>2-ой год Яндекса</h2>
        <p>Спасибо вам большое, что обучили нас чему-то новому. Этот год мне очень понравился. Правда чуток сложноват, но он очень интересный.</p>
        <p>Простите пожалуйста за то, что почти не решала задачи. 9 класс, и времени не было. Я понимаю, что это моя проблема, но что-то в последнее время я реально устала.</p>
    </div>
</div>

{% endblock %}